* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeca {
    color:wheat;
    background-color:black;
    text-align: center;

}

.jogadores1 {
    display: inline-flex;

}

@keyframes anim1 {
    from {
        background-color: black;
    }

    to {
        background-color: red;
    }
}


@keyframes anim2 {
    from {
        background-color: red;
    }

    to {
        background-color: black;
    }
}


h2,
h3 {
    color: wheat;
    text-align: center;

}

.teste1 {
    background-color: black;
    height: 150px;
    animation-name: anim1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.teste2 {
    background-color: red;
    height: 150px;
    animation-name: anim2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.teste3 {
    background-color: black;
    height: 150px;
    animation-name: anim1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.teste4 {
    background-color: red;
    height: 150px;
    animation-name: anim2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.final {
    background-color: #000;
    height: 30px;

}